<div class="row">
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://cfm.ehu.eus" title="Materials Physics Center">
	    <img alt="Materials Physics Center banner" src="img/cfm-banner.png" />
	  </a>
	</div>

<!--
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://dipc.ehu.eus" title="Donostia International Physics Center">
	    <img alt="Donostia International Physics Center" src="img/dipc-banner.png" />
	  </a>
	</div>
-->
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.csic.es" title="Consejo Superior de Investigaciones Científicas">
	    <img alt="Consejo Superior de Investigaciones Científicas" src="img/csic-banner.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.ehu.eus" title="University of the Basque Country">
	    <img alt="University of the Basque Country banner" src="img/ehu-banner.png" />
	  </a>
	</div>
</div>
