<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      {% include banner.html %}
      <h2>{{page.venue}} <br>Software Carpentry Workshop</h2>
      <div class="row">
        <div class="col-md-6">
          <p>{% if page.address %}{{page.address}}{% endif %}</p>
	  <!-- <p>{{page.humandate}}{% if page.humantime %}, {{page.humantime}}{% endif %}</p> -->
          <p>28-29 June 2017, 9:00 am - 5:30 pm<br>
          30 June 2017, 9:00 am - 13:00 pm</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
